html {
  background: transparent url(../img/bgs/back-orange.png) repeat-x 0 0;
  min-height: 100%;
  background-size: 100% 100%;
}
html.small {
  background-size: auto !important;
}

body {
  background: none;
}
body.menu #sidebar-nav {
  background: transparent url(../img/bgs/back-orange.png) repeat-x 0 0;
  background-size: 100% 100%;
  box-shadow: none;
}

.navbar-inverse {
  background: none;
  border: 1px solid transparent;
  box-shadow: none;
}
.navbar-inverse .notification-dropdown .count {
  background: #fc827b;
}

/* sidebar */
#sidebar-nav #dashboard-menu > li.active > a,
#sidebar-nav #dashboard-menu > li > a:hover {
  color: #fff;
  text-shadow: none;
}
#sidebar-nav #dashboard-menu > li > a {
  color: #bebebe;
  box-shadow: none;
  border: 0px;
}
#sidebar-nav #dashboard-menu a i {
  opacity: 0.6;
}
#sidebar-nav #dashboard-menu a i.icon-chevron-down {
  color: #fff;
}
#sidebar-nav #dashboard-menu ul.submenu {
  border-bottom: 0px;
  box-shadow: 0 2px 1px -1px #4b6588;
}
#sidebar-nav #dashboard-menu ul.submenu a {
  text-shadow: none;
  color: lightgrey;
}

.content {
  box-shadow: none;
}
