<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="WebStats.aspx.vb" Inherits="NewOBWeb.WebStats" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<h2>Web Stats</h2>

<%= New Singular.Web.CustomControls.WebStatsInfo().RenderAsString%>

</asp:Content>
