<%@ Page Title="Home Page" Language="vb" MasterPageFile="~/NewSite.Master" AutoEventWireup="false"
  CodeBehind="Default.aspx.vb" Inherits="NewOBWeb._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
</asp:Content>
