﻿div#bookingAssigner-backdrop {
  background: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

div#bookingAssigner-modal {
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  position: absolute;
  padding: 20px 20px;
}

div.bookingAssigner-crewColumn {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  display: inline-block;
}

div.bookingAssigner-crewColumn-names {
  overflow-y: scroll;
}

div.bookingAssigner-crewColumn-header,
div.bookingAssigner-bookingsColumn-header {
  height: 50px;
  border-bottom: 1px solid #acacac;
  border-bottom: 1px solid rgba(0,0,0,.333);
  z-index: 99;
  overflow: hidden;
}

.humanResourceItem {
  padding: 5px;
  height: 32px;
  border-bottom: solid 1px #ccc;
}

.hrBookings {
  height: 32px;
  border-bottom: solid 1px #ccc;
  width: 100%;
}

div.bookingAssigner-bookingsColumn {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  overflow: hidden;
  display: inline-block;
}

div.bookingAssigner-bookingsColumn-content,
div.bookingAssigner-bookingsColumn-header {
  position: relative;
}

div.day-header {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 5px;
  border-right: 1px solid #acacac;
  border-right: 1px solid rgba(0,0,0,.333);
  text-align: center;
  background-color: #fff;
}

div.day-name {
  border-bottom: 1px solid #acacac;
  border-bottom: 1px solid rgba(0,0,0,.333);
}

div.day-name, div.day-number {
  height: 20px;
  display: block;
}

div.daterangepicker {
  box-shadow: 0px 3px 20px rgba(67, 142, 234, 0.78);
  border: solid 1px rgba(67, 142, 234, 0.78);
}

div.bookingsAssigner-hrDay {
  display: inline-block;
  border-right: 1px solid #acacac;
  border-right: 1px solid rgba(0,0,0,.333);
  width: 50px;
  height: 32px;
}

div.feedbackIcon-container {
  text-align: center;
}

  div.feedbackIcon-container > i.feedback-icon {
    font-size: 1.4em;
    opacity: 0.5;
    position: absolute;
    line-height: 1.8;
    margin-left: -6px;
  }

div.bookingsAssigner-hrDay:hover {
  cursor: pointer;
  background-color: rgba(255, 47, 129, 1);
  color: #fff;
}

div.bookingsAssigner-shiftSetup {
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  position: absolute;
  padding: 20px 20px;
}

div.bookingsAssigner-hrDay > div.bookingItem-element {
  background-color: rgba(101, 153, 255, 1);
  color: #fff;
}

.fa-pink {
  color: rgba(255, 47, 129, 1);
}

  .fa-pink:hover {
    color: #fff;
  }


div.sober-backdrop {
  background: #fff;
  left: 0;
  position: absolute;
  top: 0;
}

div.sober-modal {
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  position: absolute;
  padding: 20px 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: none;
  overflow-y: auto;
}

div.sober-modal-gray {
  background-color: #f1f1f1;
}

  div.sober-modal-gray .block-flat {
    border-top: 1px solid #e2e2e2;
  }

  div.sober-modal-gray .tab-left {
    border-top: 1px solid #e2e2e2;
  }

div.sober-modal-body {
}

i.sober-modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
}

  i.sober-modal-close:hover {
    cursor: pointer;
  }

.bookingAssigner-closeIcon {
  position: absolute;
  top: 5px;
  right: 10px;
}

div#shiftSetupPanel-backdrop {
  background: #fff;
  position: absolute;
  display: none;
  z-index: 100;
}

div#shiftSetupPanel-content {
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  position: absolute;
  padding: 20px 20px;
  display: none;
  z-index: 101;
}

div.soberDropDown {
  display: none;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 2px 2px 16px rgba(101, 153, 255, 1);
  -moz-box-shadow: 2px 2px 16px rgba(101, 153, 255, 1);
  box-shadow: 2px 2px 16px rgba(101, 153, 255, 1);
  border: 1px solid #6599FF;
  border: 1px solid rgba(101, 153, 255, 1);
  z-index: 1000;
  overflow-y: scroll;
  transition: height linear 0.2s;
}

div.soberDropDown-option {
  height: 28px;
  padding: 6px;
  text-align: left;
}

  div.soberDropDown-option:hover {
    background-color: rgba(101, 153, 255, 1);
    color: #fff;
    cursor: pointer;
  }

i.soberDropDown-busy {
  line-height: 1.5;
  opacity: 0.5;
}

.modal-loading {
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 2000;
}

h4#datesHeader {
  margin-top: 0px;
  margin-bottom: 0px;
}
