﻿.modal-primary {
  color: #fff;
  background-color: #4285f4;
  border-color: #2e6da4;
}

.modal-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.modal-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.modal-warning {
  color: #fff;
  background-color: #fb7849;
  border-color: #fb7849;
}

.modal-error {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.modal-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.modal-purple {
  background-color: #8C489F;
  border-color: #6d579d;
  color: #fff;
}

.modal-full {
  width: 100%;
}

.modal-xl {
  width: 90%;
}

.modal-lg {
  width: 80%;
}

.modal-md {
  width: 70%;
}

.modal-sm {
  width: 50%;
}

.modal-xs {
  width: 40%;
}

.modal-xxs {
  width: 30%;
}

.modal-xxxs {
  width: 20%;
}

div.col-no-left-padding {
  padding-left: 0px !important;
}

div.col-no-right-padding {
  padding-right: 0px !important;
}

div.block-flat.reduced-margin-bottom {
  margin-bottom: 20px;
}

div.block-flat .content.reduced-padding-top {
  padding-top: 5px;
}

div.block-flat.reduced-padding {
  padding: 10px 20px;
}

table .no-border-x-top td {
  border-top: 0 !important;
}

tr.selectable:hover {
  cursor: pointer;
}

.pager li > a.PagerButton {
  border-radius: 0px !important;
  background-color: #816bb1;
  color: #fff;
}

span.page-number-label,
span.page-count-label {
  border: none !important;
  border-radius: 0px !important;
  font-weight: 600;
}

input.page-number-value {
  padding: 4px 10px 4px 10px;
  font-weight: 600;
}

div.page-manager-description {
  font-weight: 600;
}

.pager {
  margin: 0px !important;
}

.table input {
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

  .table input:hover {
    border-color: transparent;
    background-color: #fff;
  }

  .table input:focus {
    background-color: #fff;
  }

table select,
table input[type='text'],
table input[type='password'],
table input[type='checkbox'],
table input[type='file'],
table textarea {
  background-color: transparent;
  border: 1px solid transparent;
  /*border-radius: 2px;*/
  padding-left: 2px;
}

.ui-resizable-s {
  bottom: 0;
}

.ui-resizable-e {
  right: 0;
}

.modal-body {
  margin-bottom: 0;
}

.modal {
  outline: none;
}

div.modal-header > i {
  float: left;
  margin-right: 10px;
}

.close {
  color: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.modal-body-small-padding {
  padding: 10px 20px;
}

div.ComboDropDown {
  z-index: 100000;
}

.ComboDropDown {
  position: absolute;
  max-height: 400px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #66afe9;
  display: none;
  z-index: 1004;
  overflow-y: hidden;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 16px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 16px rgba(102, 175, 233, 0.6);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  outline: 0;
}

  .ComboDropDown table {
    border-spacing: 0px;
  }

  .ComboDropDown tr, .ComboDropDown > div > div {
    /*background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);*/
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
    cursor: pointer;
  }

  .ComboDropDown td {
    border-left: 1px solid #ccc;
    padding: 2px 4px 2px 4px;
  }

  .ComboDropDown th {
    padding: 2px;
    cursor: pointer;
    /*background: linear-gradient(to bottom, #666 0%, #444 100%);*/
    color: #fff;
    font-size: 0.9em;
  }

  .ComboDropDown .ComboChild {
    padding-left: 5px;
  }

  .ComboDropDown .ComboGroup, .ComboDropDown .ComboGroup:hover {
    /*background: linear-gradient(to bottom, #777 0%,#555 100%);*/
    color: #fff;
    font-weight: bold;
    cursor: default;
  }

  .ComboDropDown tr:hover, .ComboDropDown > div > div:hover {
    text-decoration: none !important;
    color: #ffffff !important;
    background-color: #0081c2 !important;
    /*background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;*/
  }

  .ComboDropDown > div > div.Selected {
    text-decoration: none !important;
    color: #ffffff !important;
    background-color: #0081c2 !important;
    /*background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;*/
  }

.block-flat .loading,
.modal-dialog .loading {
  display: none;
  cursor: wait;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

  .block-flat .loading i,
  .modal-dialog .loading i {
    position: relative;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    font-size: 26px;
  }

.loading-custom {
  cursor: wait;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

  .loading-custom i {
    position: relative;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    font-size: 26px;
  }

.edit-overlay {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  text-align: center;
}

/*.edit-overlay i {
    position: relative;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    font-size: 26px;
  }*/


.loading {
  display: none;
  /*cursor: wait;*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  z-index: 10000;
}

  .loading i {
    position: relative;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    font-size: 26px;
    z-index: 10000;
  }

.sb-collapsed .cl-vnavigation li a span {
  display: none !important;
}

/*.sb-collapsed .cl-vnavigation li a i {
  display: none;
}*/

.modal-background-gray {
  background-color: #f1f1f1 !important;
}

.no-margin-horizontal {
  margin-left: 0px;
  margin-right: 0px;
}

table .no-border-x td {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.table-responsive-forced {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #DDD;
  -webkit-overflow-scrolling: touch;
}

.no-padding-horizontal {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.no-border-right {
  border-right: 0px;
}

  .no-border-right > input {
    border-right: 0px;
  }

input.date-editor,
input.time-editor {
  text-align: center;
}

div.ValidationPopup {
  min-height: 80px;
}

.form-group > div[class^="col-"] {
  margin-bottom: 15px;
}

.alert-thin {
  padding: 6px !important;
  margin-bottom: 10px !important;
}

.alert-clickable:hover {
  cursor: pointer;
}

.btn-select {
  z-index: 1000;
}

tr.table-row-child {
  background: #f0f0f0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slower {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slowest {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.fa-orange {
  color: #fb7849 !important;
}

.fa-blue {
  color: #66afe9 !important;
}

.ComboDropDown td {
  border: none;
}

.ComboDropDown th {
  padding: 2px;
  cursor: pointer;
  background-color: #66afe9;
  color: #fff;
  font-size: 0.9em;
}

.block-flat-small {
  margin-bottom: 20px;
  padding: 10px 10px;
}

.modal-footer-small {
  padding: 10px 20px 5px;
}

th.column-sorted > i.sort-icon {
  color: #23c0a2;
  padding-left: 5px;
}

span.form-control[readonly='readonly'] {
  white-space: nowrap;
}

div.error-column {
  border: solid 1px #ea6153;
}

td.day-selected > a {
  border: 1px solid #fff !important;
  background: #1c94c4 !important;
  font-weight: bold !important;
  color: #fff !important;
}

table.table-input-xs input {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.margin-top-0 {
  margin-top: 0px;
}

div.selection-panel {
  border: 3px solid #66afe9 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 16px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 16px rgba(102, 175, 233, 0.6);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  outline: 0;
  background: #fff;
  display: none;
}

div.selection-panel-header {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081c2;
  background-repeat: repeat-x;
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
}

span.selection-panel-header-icon,
span.selection-panel-header-text,
span.selection-panel-header-close {
  display: inline-block;
  padding: 10px;
}

span.selection-panel-header-text {
  font-weight: 700;
  font-size: 1.1em;
}

span.selection-panel-header-close {
  float: right;
  cursor: pointer;
}

.badge-square {
  border-radius: 0px !important;
}

select.ui-datepicker-month {
  color: black;
}

select.ui-datepicker-year {
  color: black;
}

.date-picker-reports {
  max-width: 350px;
  float: left;
  position: relative;
  padding-right: 15px;
}

.discipline-position {
  font-size: 14px;
  width: 360px;
  float: left;
  margin-right: 15px;
  padding: 6px;
  font-weight: 600;
}

  .discipline-position.selected {
    background-color: #2fa4e7;
    color: #fff;
  }

span.discipline-position-name {
  width: 220px;
  float: left;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

div.discipline-position-name:hover {
  cursor: pointer;
}

span.discipline-position-quantity {
  float: left;
}

input.round-editor {
  border-radius: 10px;
  width: 40px;
  float: right;
  text-align: center;
  height: 20px;
  margin-right: 10px;
  border: none;
  color: black;
}

  input.round-editor::selection {
    background: #ffb7b7;
    color: #fff;
  }

  input.round-editor::-moz-selection {
    background: #ffb7b7;
    color: #fff;
  }

.buttontext {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}



td.column-select-button {
  width: 50px;
}

td.date-column,
th.date-column,
td.time-column,
th.time-column,
td.time-column input {
  text-align: center;
  width: 100px;
}

div.ComboTrigger {
  width: 100%;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #0dc5c1;
  background: -moz-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: loadRotate 1.4s infinite linear;
  animation: loadRotate 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  top: calc(25vh);
}

  .loader:before {
    width: 50%;
    height: 50%;
    background: #0dc5c1;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  .loader:after {
    background: #f0f0f0;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

@-webkit-keyframes loadRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

button.state-button {
  text-align: left;
  padding-left: 15px;
}

button.dashboard-state-button {
  padding-right: 15px;
}

.tab-content-no-padding {
  padding: 0px;
}

.tab-content-no-margin-bottom {
  margin-bottom: 0px;
}

i.icon-danger {
  color: #DA4932;
}

i.icon-info {
  color: #4aa3df;
}

i.icon-succes, .btn > i.icon-success {
  color: #5cb85c;
}

.modal-validation-popup {
  height: 100%;
  max-height: 350px;
  background-color: #F9EEED;
  border-style: solid;
  border-width: 1px;
  border-color: #c44;
}

div.online-user-avatar-container {
  display: inline-block;
  width: 32px;
  height: 100%;
  vertical-align: middle;
}

  div.online-user-avatar-container > img {
    border-radius: 30px;
    width: 30px;
    margin-left: 20px;
  }

div.current-users {
  padding-top: 12px;
  float: right;
  margin-right: 40px;
  font-size: 1.3em;
}

.bootstrap-datetimepicker-widget table td span {
  color: #337ab7;
  height: 24px;
  line-height: 24px;
}

.bootstrap-datetimepicker-widget a[data-action] {
  border: none;
  width: 100%;
  height: 100%;
}

div.timepicker-picker, div.timepicker-hours, div.timepicker-minutes {
  border-top: 1px solid #DADADA;
}

.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
  background: #337ab7;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

div.bootstrap-datetimepicker-widget {
  -webkit-box-shadow: 0 0px 20px 11px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 0 0px 20px 11px rgba(0, 0, 0, 0.176);
  box-shadow: 0 0px 20px 11px rgba(0, 0, 0, 0.176);
  padding: 20px !important;
}

input.form-control.input-no-radius {
  border-radius: 0px !important;
}

input.form-control.no-border-right {
  border-right: 0 !important;
}

button.btn-no-radius {
  border-radius: 0px !important;
}

button.no-border-right {
  border-right: 0 !important;
}

span.padding-right-20 {
  padding-right: 20px;
}

.animated.fast {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.animated.faster {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.animated.fastest {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.animated.light-speed {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.animated.fast {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.animated.faster {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.animated.fastest {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.animated.light-speed {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.ComboDropDown div.type-to-search-row {
  background: #337ab7;
  color: #fff;
}

div.hr-availability-list {
  background-color: #f0f0f0;
}

  div.hr-availability-list > div.type-to-search-row {
    margin-bottom: 8px;
  }

div.hr-availability {
  height: 170px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 3px 0px #999999;
}

  div.hr-availability > div.avatar {
    display: inline-block;
    width: 60px;
    height: 100%;
  }

    div.hr-availability > div.avatar > img {
      width: 50px;
      height: 50px;
      border-radius: 0px;
    }

    div.hr-availability > div.avatar > h5 {
    }

  div.hr-availability > div.info {
    display: inline-block;
    width: 350px;
    vertical-align: top;
    height: 100%;
  }

  div.hr-availability div.progress-bar {
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
  }

.ComboDropDown tr:hover, .ComboDropDown div.hr-availability:hover {
  color: #000 !important;
  background-color: #cccccc !important;
}

.ComboDropDown div.hr-availability.Selected {
  text-decoration: none !important;
  color: #000 !important;
  background-color: #cccccc !important;
}

div.hr-availability td {
  border: 0 !important;
}

div.hr-availability-dropdown > div.type-to-search-row {
  background: #f0f0f0;
  color: #000;
}

div.hr-availability-dropdown {
  z-index: 100000;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  padding: 10px;
  background: #f0f0f0;
}

.vanishIn {
  animation-name: vanishIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.2s;
}

@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

div.cancellation-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(97, 95, 95, 0.51);
}

div.cancellation-modal-content {
  background: #fff;
  padding: 20px;
  box-shadow: 0px 1px 20px 1px #f0f0f0;
}

div.differences-from-owner {
  background: #ff837c;
  color: #fff;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.tri-bar-loader,
.tri-bar-loader:before,
.tri-bar-loader:after {
  background-color: transparent;
  -webkit-animation: triBarLoad 1s infinite ease-in-out;
  animation: triBarLoad 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.tri-bar-loader {
  color: #8000ff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

  .tri-bar-loader:before,
  .tri-bar-loader:after {
    position: absolute;
    top: 0;
    content: '';
  }

  .tri-bar-loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .tri-bar-loader:after {
    left: 1.5em;
  }

@-webkit-keyframes triBarLoad {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes triBarLoad {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

div.error-list {
  width: 100%;
  max-height: 120px;
  overflow-y: scroll;
  border: solid 1px #C60000;
  background-color: #FA9595;
  padding: 10px;
}

  div.error-list > ul li {
    list-style-type: none;
  }

  div.error-list::-webkit-scrollbar {
    width: 10px;
  }

  div.error-list::-webkit-scrollbar-button {
    display: block;
    height: 5px;
    border-radius: 0px;
    background-color: #AAA;
  }

    div.error-list::-webkit-scrollbar-button:hover {
      background-color: #AAA;
    }

  div.error-list::-webkit-scrollbar-thumb {
    background-color: #fff;
  }

    div.error-list::-webkit-scrollbar-thumb:hover {
      background-color: #fff;
    }

  div.error-list::-webkit-scrollbar-track {
    background-color: #efefef;
  }

    div.error-list::-webkit-scrollbar-track:hover {
      background-color: #CCC;
    }


td input:disabled {
  background-color: #efefef;
}

  td input:disabled:hover {
    cursor: not-allowed;
  }

div.error-window-column {
  width: 100%;
}

ul.error-block {
  display: block;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100px;
  max-height: 450px;
  background-color: #fff;
  list-style-type: none;
  border: solid 1px #c44;
}

li.object-toString {
  list-style-type: disc;
}

ul.object-errors {
}

li.error-item {
  list-style-type: none;
}

span.error-icon {
  background-repeat: no-repeat;
}

label.error-text {
  cursor: pointer;
  margin-left: 20px;
}
