﻿.hr-shift:not(.selected) {
  border-color: #fff !important;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  background: #54b3ff;
  background: -moz-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54b3ff), color-stop(100%, #0078d9));
  background: -webkit-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
  background: linear-gradient(#54b3ff, #0078d9);
  background: -o-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
  background: -ms-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b3ff', endColorstr='#0078d9',GradientType=0 );
}

.hr-production:not(.selected) {
  border-color: #fff !important;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  background: #5bc0de;
  background: -moz-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #2aabd2));
  background: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background: linear-gradient(#5bc0de, #2aabd2);
  background: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background: -ms-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2aabd2',GradientType=0 );
}

.hr-adhoc:not(.selected) {
  border-color: #fff !important;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  background: #A9014B;
  background: -moz-linear-gradient(top, #A9014B 0%, #630030 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A9014B), color-stop(100%, #630030));
  background: -webkit-linear-gradient(top, #A9014B 0%, #630030 100%);
  background: linear-gradient(#A9014B, #630030);
  background: -o-linear-gradient(top, #A9014B 0%, #630030 100%);
  background: -ms-linear-gradient(top, #A9014B 0%, #630030 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9014B', endColorstr='#630030',GradientType=0 );
}

.hr-leave:not(.selected) {
  border-color: #fff !important;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  background-co: #353f4c;
  background: -moz-linear-gradient(top, #353f4c 0%, #222a33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353f4c), color-stop(100%, #222a33));
  background: -webkit-linear-gradient(top, #353f4c 0%, #222a33 100%);
  background: linear-gradient(#353f4c, #222a33);
  background: -o-linear-gradient(top, #353f4c 0%, #222a33 100%);
  background: -ms-linear-gradient(top, #353f4c 0%, #222a33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353f4c', endColorstr='#222a33',GradientType=0 );
}

.hr-non-shift:not(.selected) {
  border-color: #fff !important;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  background: #d9534f;
  background: -moz-linear-gradient(top, #d9534f 0%, #d43f3a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9534f), color-stop(100%, #d43f3a));
  background: -webkit-linear-gradient(top, #d9534f 0%, #d43f3a 100%);
  background: linear-gradient(#d9534f, #d43f3a);
  background: -o-linear-gradient(top, #d9534f 0%, #d43f3a 100%);
  background: -ms-linear-gradient(top, #d9534f 0%, #d43f3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9534f', endColorstr='#d43f3a',GradientType=0 );
}

.vis.timeline .item.background.day-off,
.vis.timeline .item.background.weekend-off {
  background-color: rgba(255, 0, 0, 0.2);
}

.hr-available-time-other-system-area:not(.selected) {
  font-size: 11px;
  border-radius: 4px;
  color: #333;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px #cccccc;
  display: inline-block;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
  cursor: pointer;
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eef0f1));
  background: -webkit-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -o-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -ms-linear-gradient(top, white 0%, #eef0f1 100%);
  background: linear-gradient(to bottom, white 0%, #eef0f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef0f1',GradientType=0 );
}

.hr-available-time-same-system-area:not(.selected) {
  border-color: #fff !important;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  background: #6d1b81;
  background: -moz-linear-gradient(top, #6d1b81 0%, #330066 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d1b81), color-stop(100%, #330066));
  background: -webkit-linear-gradient(top, #6d1b81 0%, #330066 100%);
  background: linear-gradient(#6d1b81, #330066);
  background: -o-linear-gradient(top, #6d1b81 0%, #330066 100%);
  background: -ms-linear-gradient(top, #6d1b81 0%, #330066 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d1b81', endColorstr='#330066',GradientType=0 );
  cursor: pointer;
}
