﻿h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
}

.main {
  margin-left: 30px;
  margin-right: 30px;
}

select {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table {
  background-color: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table input {
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

  .table input:hover {
    border-color: transparent;
    background-color: #fff;
  }

  .table input:focus {
    background-color: #fff;
  }

table select,
table input[type='text'],
table input[type='password'],
table input[type='checkbox'],
table input[type='file'],
table textarea {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
}

.LoadingOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  min-height: 10000px;
  top: 0;
  left: 0;
  z-index: 10000;
}

  .LoadingOverlay .Outer {
    margin: 30px auto auto auto;
    width: 95px;
    padding: 2px;
    border: 1px solid #8F8F8F;
    background-color: #D6D6D6;
  }

  .LoadingOverlay .Inner {
    padding: 3px;
    padding-top: 2px;
    width: 100%;
    border: 1px solid #CCCCCC;
    background-color: #fff;
    color: #222;
    font-weight: 600;
    background-image: url(../Images/LoadingSmall.gif);
    background-repeat: no-repeat;
    background-position: 4px 5px;
  }

  .LoadingOverlay span {
    margin-left: 22px;
    display: inline-block;
  }

.NumericEditor {
  text-align: right;
}

.DatePicker {
  text-align: center;
}

.ValidationError {
  margin-left: 0px;
  display: none;
  vertical-align: middle;
}

.DivToolbar {
  position: relative;
  background-color: #ffffff;
  margin: 10px 0 10px 0;
  /*min-height: 50px;*/
  color: #142E42;
}

.top-buffer-10 {
  margin-top: 10px;
}

.top-buffer-15 {
  margin-top: 15px;
}

.top-buffer-20 {
  margin-top: 20px;
}

.ComboBox {
  /*background-color: #b6b7bc;*/
}

  .ComboBox.Blank {
    color: #bbb !important;
  }

.ComboDropDown {
  position: absolute;
  max-height: 320px;
  display: none;
  z-index: 100000;
  overflow-y: hidden;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

  .ComboDropDown table {
    border-spacing: 0px;
  }

  .ComboDropDown tr, .ComboDropDown div div {
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
    padding: 3px;
    cursor: pointer;
  }

  .ComboDropDown td {
    border-left: 1px solid #ccc;
  }

  .ComboDropDown th {
    cursor: pointer;
  }

  .ComboDropDown .ComboChild {
    padding-left: 5px;
  }

  .ComboDropDown .ComboGroup, .ComboDropDown .ComboGroup:hover {
    background: linear-gradient(to bottom, #777 0%,#555 100%);
    color: #fff;
    font-weight: bold;
    cursor: default;
  }

  .ComboDropDown tr:hover, .ComboDropDown div div:hover {
    text-decoration: none !important;
    color: #ffffff !important;
    background-color: #0081c2 !important;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;
  }

  .ComboDropDown .Selected {
    text-decoration: none !important;
    color: #ffffff !important;
    background-color: #0081c2 !important;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;
  }

#head-nav .navbar-nav > li > a {
  padding: 10px 15px;
}

#head-nav .navbar {
  border-radius: 0px;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px solid #dddddd;
}

a.label:hover, a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0px;
  color: #428bca;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0px;
  color: #428bca;
}

  .pager li > a:hover,
  .pager li > span :hover {
    cursor: pointer;
    background: #428bca;
    color: white;
  }

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px solid #dddddd;
  background-color: #323232;
  color: white;
}

.flat-block-paged {
  padding-bottom: 40px;
}

.block-flat ul.pager {
  margin: 0;
}

/*.table > tbody > tr:nth-child(odd) > td, .table > tbody > tr:nth-child(odd) > th {
 background-color: #ffffff;
}*/

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
  border-radius: 0px;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.ImgIcon.ImgValidation {
  float: right;
}

.ImgIcon.ImgWarning {
  float: right;
}

.modal-dg {
  background-color: #F0F0F0;
  display: none;
  width: 100% !important;
  /*display: -webkit-flex;*/
}

  .modal-dg > div {
    flex: 1;
  }

.modal-white {
  background-color: #fff !important;
}

div.ComboDropDown {
  z-index: 35000;
}

td.col-tiny,
th.col-tiny {
  width: 50px;
}

.input-xs {
  height: 28px;
}

.dark-text {
  color: #222222;
}

.top-buffer-5 {
  margin-top: 5px;
}

  .top-buffer-5.row .input-group {
    margin-bottom: 0px !important;
  }

.label-orange {
  background: #f16e3f !important;
}

.main.big-text-mode,
.main.big-text-mode input,
div.big-text-mode,
div.big-text-mode input {
  font-size: 12px !important;
  font-weight: bold !important;
}

.ui-dialog-content.big-text-mode,
.ui-dialog-content.big-text-mode input {
  font-size: 12px !important;
}

.main.black-text,
.main.black-text input {
  color: #222222 !important;
}

.label.label-font-lg {
  font-size: 100%;
}

.ui-dialog-content.black-text,
.ui-dialog-content.black-text input,
div.black-text,
div.black-text input {
  color: #222222 !important;
}

.label.label-font-lg {
  font-size: 100%;
}

.ui-dialog-content .block-flat,
.ui-dialog-content .block-wizard {
  margin-bottom: 5px;
}

.block-flat-paged .loading,
.centre-loading-icon .loading {
  display: none;
  cursor: wait;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

  .block-flat-paged .loading i,
  .centre-loading-icon .loading i {
    position: relative;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    font-size: 26px;
  }

table .no-border-x-top td {
  border-top: 0 !important;
}

div.table-responsive {
  border: none;
}

.loading {
  display: none;
  cursor: wait;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

  .loading i {
    position: relative;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    font-size: 26px;
  }

.loading-custom {
  cursor: wait;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

  .loading-custom i {
    position: relative;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    font-size: 26px;
  }

table.list.no-border-row-top td {
  border-top: 0px;
}

table.list.no-border-row-bottom td {
  border-bottom: 0px;
}

.modal-primary {
  color: #fff;
  background-color: #4285f4;
  border-color: #2e6da4;
}

.modal-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.modal-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.modal-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.modal-error {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.modal-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.modal-purple {
  background-color: #8C489F;
  border-color: #6d579d;
  color: #fff;
}

table.list .items td > span.label {
  vertical-align: middle;
}

.modal-content-gray {
  background: #f0f0f0;
}

tr.selectable td {
  cursor: pointer;
}

/*span.ellipses {
  position: relative;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

  span.ellipses:hover {
    overflow: visible;
    word-wrap: break-word;
    white-space: pre;
    padding-top: 5px;
    padding-bottom: 5px;
  }*/

/*.ellipsis {
  position: relative;
}

  .ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;
  }

  .ellipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/

recipient-added td {
  background-color: #7761a7;
  background-image: none;
  color: #fff;
}

.btn-purple {
  color: #ffffff;
  background-color: #7761a7;
  border-color: #5a3d99;
}

  .btn-purple:hover,
  .btn-purple:focus,
  .btn-purple:active,
  .btn-purple.active,
  .open .dropdown-toggle.btn-purple {
    color: #ffffff;
    background-color: #7761a7;
    border-color: #5a3d99;
  }

  .btn-purple:active,
  .btn-purple.active,
  .open .dropdown-toggle.btn-purple {
    background-image: none;
  }

  .btn-purple.disabled,
  .btn-purple[disabled],
  fieldset[disabled] .btn-purple,
  .btn-purple.disabled:hover,
  .btn-purple[disabled]:hover,
  fieldset[disabled] .btn-purple:hover,
  .btn-purple.disabled:focus,
  .btn-purple[disabled]:focus,
  fieldset[disabled] .btn-purple:focus,
  .btn-purple.disabled:active,
  .btn-purple[disabled]:active,
  fieldset[disabled] .btn-purple:active,
  .btn-purple.disabled.active,
  .btn-purple[disabled].active,
  fieldset[disabled] .btn-purple.active {
    background-color: #7761a7;
    border-color: #5a3d99;
  }

.modal-bg-gray {
  background: #f0f0f0;
}

.col-white {
  background: #fff;
}

.col-extra-padding-right {
  padding-right: 25px;
}

.col-extra-padding-left {
  padding-left: 25px;
}

.col-extra-padding-top {
  padding-top: 15px;
}

.modal-body.row {
  margin-left: 0px;
  margin-right: 0px;
}

div.hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.max-height-400 {
  max-height: 400px;
  overflow-x: auto;
}

.ui-resizable-s {
  bottom: 0;
}

.ui-resizable-e {
  right: 0;
}

.modal-body {
  margin-bottom: 0;
}

.modal {
  outline: none;
}

div.modal-header > i {
  float: left;
  margin-right: 10px;
  margin-left: -10px;
}

/*
  ANIMATIONS
*/

/****************** Base ********************/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slower {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slowest {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/****************** Slide in down ********************/

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.slideInDown.go {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/****************** Bounce in up ********************/

.bounceInRight, .bounceInLeft, .bounceInUp, .bounceInDown {
  opacity: 0;
  -webkit-transform: translateX(400px);
  transform: translateX(400px);
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(400px);
  }

  60% {
    -webkit-transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }

  60% {
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bounceInUp.go {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

/****************** Slide in up ********************/

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp.go {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}