﻿/* DEFAULTS
----------------------------------------------------------*/

body {
  background: #b6b7bc;
  font-size: .80em;
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #696969;
}

a:link, a:visited {
  color: #034af3;
}

a:hover {
  color: #1d60ff;
  text-decoration: none;
}

a:active {
  color: #034af3;
}

p {
  margin-bottom: 10px;
  line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
  color: #142E42;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 200;
  margin-top: 5px;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
  margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
  width: 960px;
  background-color: #fff;
  margin: 20px auto 0px auto;
  border: 1px solid #496077;
  z-index: 1;
}

.header {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #2B6795;
  width: 100%;
  z-index: 99;
}

  .header h1 {
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
  }

.main {
  padding: 0px 12px;
  margin: 12px 8px 8px 8px;
  min-height: 420px;
}

.leftCol {
  padding: 6px 0px;
  margin: 12px 8px 8px 8px;
  width: 200px;
  min-height: 200px;
}

.footer {
  color: #4e5766;
  padding: 8px 0px 0px 0px;
  margin: 0px auto;
  text-align: center;
  line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
  background-color: #3a4f63;
  width: 100%;
}

div.MenuContainer {
  background-color: #1D4361;
  clear: both;
}

div.menu {
  padding: 4px 0px 4px 8px;
}

  div.menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
  }

    div.menu ul li a, div.menu ul li a:visited {
      background-color: #142E42;
      border: 1px #142E42 solid;
      color: #dde4ec;
      display: block;
      line-height: 1.35em;
      padding: 4px 20px;
      text-decoration: none;
      white-space: nowrap;
    }

      div.menu ul li a:hover {
        background-color: #bfcbd6;
        color: #465c71;
        text-decoration: none;
      }

      div.menu ul li a:active {
        background-color: #465c71;
        color: #cfdbe6;
        text-decoration: none;
      }

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
  margin: 1em 0px;
  padding: 1em;
  border: 1px solid #ccc;
}

  fieldset p {
    margin: 2px 12px 10px 10px;
  }

  fieldset.login label, fieldset.register label, fieldset.changePassword label {
    display: block;
  }

  fieldset label.inline {
    display: inline;
  }

legend {
  font-size: 1.1em;
  font-weight: 600;
  padding: 2px 4px 8px 4px;
}

input.textEntry {
  width: 320px;
  border: 1px solid #ccc;
}

input.passwordEntry {
  width: 320px;
  border: 1px solid #ccc;
}

div.accountInfo {
  width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
  clear: both;
}

.title {
  display: block;
  float: left;
  text-align: left;
  width: auto;
}

.loginDisplay {
  font-size: 1.1em;
  display: block;
  text-align: right;
  padding: 10px;
  color: White;
}

  .loginDisplay a:link {
    color: white;
  }

  .loginDisplay a:visited {
    color: white;
  }

  .loginDisplay a:hover {
    color: white;
  }

.failureNotification {
  font-size: 1.2em;
  color: Red;
}

.bold {
  font-weight: bold;
}

.submitButton {
  text-align: right;
  padding-right: 10px;
}

.transparent.header {
  background: #333;
}

section[role="main"] {
  background: #333;
  color: #fff;
}

  section[role="main"] h1 {
    color: #fff;
  }

  section[role="main"] h2 {
    color: #fff;
  }

  section[role="main"] h3 {
    color: #fff;
  }

.button {
  margin-right: 0.5em;
  border-radius: 4px;
}

ol {
  margin-left: 2em;
}

div#sidebarAd.cleanslate {
  background: #444!important;
  color: #fff!important;
}

  div#sidebarAd.cleanslate .ad-sponsor {
    color: #ccc!important;
  }

.zurb-footer-top {
  background: #222;
}

@-webkit-keyframes bigAssButtonPulse {
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 25px #333;
  }

  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 50px #91bd09;
  }

  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 25px #333;
  }
}

@-webkit-keyframes greenPulse {
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }

  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

@-webkit-keyframes bluePulse {
  from {
    background-color: #007d9a;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #2daebf;
    -webkit-box-shadow: 0 0 18px #2daebf;
  }

  to {
    background-color: #007d9a;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

@-webkit-keyframes redPulse {
  from {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #e33100;
    -webkit-box-shadow: 0 0 18px #e33100;
  }

  to {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

@-webkit-keyframes magentaPulse {
  from {
    background-color: #630030;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #a9014b;
    -webkit-box-shadow: 0 0 18px #a9014b;
  }

  to {
    background-color: #630030;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

@-webkit-keyframes orangePulse {
  from {
    background-color: #d45500;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #ff5c00;
    -webkit-box-shadow: 0 0 18px #ff5c00;
  }

  to {
    background-color: #d45500;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

@-webkit-keyframes orangellowPulse {
  from {
    background-color: #fc9200;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #ffb515;
    -webkit-box-shadow: 0 0 18px #ffb515;
  }

  to {
    background-color: #fc9200;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

a.button {
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.green.button {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 3s;
}

.blue.button {
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 4s;
}

.red.button {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 1s;
}

.magenta.button {
  -webkit-animation-name: magentaPulse;
  -webkit-animation-duration: 2s;
}

.orange.button {
  -webkit-animation-name: orangePulse;
  -webkit-animation-duration: 3s;
}

.orangellow.button {
  -webkit-animation-name: orangellowPulse;
  -webkit-animation-duration: 5s;
}

.wall-of-buttons {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
