﻿

.production-default:not(.vis-selected) {
  color: #333;
  border: solid 1px #000;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px #cccccc;
  cursor: pointer;
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eef0f1));
  background: -webkit-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -o-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -ms-linear-gradient(top, white 0%, #eef0f1 100%);
  background: linear-gradient(to bottom, white 0%, #eef0f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef0f1',GradientType=0 );
}

.icr-booking-new:not(.vis-selected),
.plo-booking-new:not(.vis-selected),
.ps-ob-new:not(.vis-selected),
.ps-std-new:not(.vis-selected),
.pc-ob-new:not(.vis-selected),
.pc-std-new:not(.vis-selected),
.pc-mdops-new:not(.vis-selected),
.pc-satops-new:not(.vis-selected),
.playout-shift-new:not(.vis-selected),
.plo-mcr-rdb-new:not(.vis-selected),
.plo-mcr-sam-new:not(.vis-selected),
.plo-sccr-rdb-new:not(.vis-selected),
.plo-mcr-rdb-new:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #2aabd2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2aabd2',GradientType=0 );
  cursor: pointer;
}

.plo-dayshift-rbg:not(.vis-selected),
.plo-dayshift-smd:not(.vis-selected),
.plo-dayshift-supervisor-rbg:not(.vis-selected),
.plo-dayshift-supervisor-smd:not(.vis-selected),
.plo-training:not(.vis-selected),
.plo-week-supervisor-rbg:not(.vis-selected),
.plo-week-supervisor-smd:not(.vis-selected),
.plo-D7-rbg:not(.vis-selected),
.plo-week:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: rgb(92, 185, 92) !important;
  cursor: pointer;
}
/*background: #00ff40;*/

.plo-nightshift-rbg:not(.vis-selected),
.plo-nightshift-smd:not(.vis-selected),
.plo-nightshift-supervisor-rbg:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #0000ff;
  cursor: pointer;
}

.plo-extra-shift:not(.vis-selected) {
  color: #000000;
  border: solid 1px #000;
  background: #ffff49;
  cursor: pointer;
}

.icr-booking-first-hold:not(.vis-selected),
.plo-booking-first-hold:not(.vis-selected),
.ps-ob-first-hold:not(.vis-selected),
.ps-std-first-hold:not(.vis-selected),
.pc-ob-first-hold:not(.vis-selected),
.pc-std-first-hold:not(.vis-selected),
.pc-mdops-first-hold:not(.vis-selected),
.pc-satops-first-hold:not(.vis-selected),
.plo-mcr-rdb-first-hold:not(.vis-selected),
.plo-mcr-sam-first-hold:not(.vis-selected),
.plo-sccr-rdb-first-hold:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #0078d9;
  cursor: pointer;
}

.icr-booking-second-hold:not(.vis-selected),
.plo-booking-second-hold:not(.vis-selected),
.ps-ob-second-hold:not(.vis-selected),
.ps-std-second-hold:not(.vis-selected),
.pc-ob-second-hold:not(.vis-selected),
.pc-std-second-hold:not(.vis-selected),
.pc-mdops-second-hold:not(.vis-selected),
.pc-satops-second-hold:not(.vis-selected),
.plo-sccr-rdb-second-hold:not(.vis-selected),
.plo-mcr-rdb-second-hold:not(.vis-selected),
.plo-mcr-sam-second-hold:not(.vis-selected) {
  color: #fff;
  border: solid 1px #fff;
  background: #330066;
  cursor: pointer;
}

.pc-satops-first-hold:not(.vis-selected) {
  color: #fff;
  border: solid 1px #fff;
  background: #663366;
  cursor: pointer;
}

.pc-satops-second-hold:not(.vis-selected) {
  color: #fff;
  border: solid 1px #fff;
  background: #f20056;
  cursor: pointer;
}

.icr-booking-unconfirmed:not(.vis-selected),
.plo-booking-unconfirmed:not(.vis-selected),
.ps-ob-unconfirmed:not(.vis-selected),
.ps-std-unconfirmed:not(.vis-selected),
.pc-ob-unconfirmed:not(.vis-selected),
.pc-std-unconfirmed:not(.vis-selected),
.pc-mdops-unconfirmed:not(.vis-selected),
.pc-satops-unconfirmed:not(.vis-selected),
.plo-mcr-sam-unconfirmed:not(.vis-selected),
.plo-mcr-rdb-unconfirmed:not(.vis-selected),
.plo-sccr-rdb-unconfirmed:not(.vis-selected) {
  color: #000;
  border: solid 1px #000;
  background: #E4C913;
  cursor: pointer;
}

.icr-booking-confirmed:not(.vis-selected),
.plo-booking-confirmed:not(.vis-selected),
.ps-ob-confirmed:not(.vis-selected),
.ps-std-confirmed:not(.vis-selected),
.pc-ob-confirmed:not(.vis-selected),
.pc-std-confirmed:not(.vis-selected),
.pc-mdops-confirmed:not(.vis-selected),
.pc-satops-confirmed:not(.vis-selected),
.plo-sccr-rdb-confirmed:not(.vis-selected),
.plo-mcr-rdb-confirmed:not(.vis-selected),
.plo-mcr-sam-confirmed:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #d43f3a;
  cursor: pointer;
}

.icr-booking-completed:not(.vis-selected),
.plo-booking-completed:not(.vis-selected),
.ps-ob-completed:not(.vis-selected),
.ps-std-completed:not(.vis-selected),
.pc-ob-completed:not(.vis-selected),
.pc-std-completed:not(.vis-selected),
.pc-mdops-completed:not(.vis-selected),
.pc-satops-completed:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #96bf48;
  cursor: pointer;
}


.playout-shift-completed:not(.vis-selected),
.plo-mcr-sam-completed:not(.vis-selected),
.plo-mcr-rdb-completed:not(.vis-selected),
.plo-sccr-rdb-completed:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: rgb(92, 185, 92) !important;
  cursor: pointer;
}
/*background: #00ff40;*/ 

.icr-booking-reconciled:not(.vis-selected),
.plo-booking-reconciled:not(.vis-selected),
.ps-ob-reconciled:not(.vis-selected),
.ps-std-reconciled:not(.vis-selected),
.pc-ob-reconciled:not(.vis-selected),
.pc-std-reconciled:not(.vis-selected),
.authorised-leave:not(.vis-selected),
.pc-mdops-reconciled:not(.vis-selected),
.pc-satops-reconciled:not(.vis-selected),
.plo-mcr-sam-reconciled:not(.vis-selected),
.plo-mcr-rdb-reconciled:not(.vis-selected),
.plo-sccr-rdb-reconciled:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #222a33;
  cursor: pointer;
}

.icr-booking-cancelled:not(.vis-selected),
.plo-booking-cancelled:not(.vis-selected),
.ps-ob-cancelled:not(.vis-selected),
.ps-std-cancelled:not(.vis-selected),
.pc-ob-cancelled:not(.vis-selected),
.pc-std-cancelled:not(.vis-selected),
.pc-mdops-cancelled:not(.vis-selected),
.pc-satops-cancelled:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #A9014B;
  cursor: pointer;
}

.plo-sccr-rdb-cancelled:not(.vis-selected),
.plo-mcr-rdb-cancelled:not(.vis-selected),
.plo-mcr-sam-cancelled:not(.vis-selected) {
  color: #000;
  border: solid 1px #000;
  background: #CCCCCC;
  cursor: pointer;
}

.plo-room-capacity:not(.vis-selected),
.plo-room-capacity:not(.vis-selected),
.plo-room-capacity:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #CC3300;
  cursor: pointer;
}

.plo-change:not(.vis-selected),
.plo-change:not(.vis-selected),
.plo-change:not(.vis-selected) {
  color: #fff;
  border: solid 1px #000;
  background: #663300;
  cursor: pointer;
}

.pc-std-maximo {
  color: #fff;
  border: solid 1px #000;
  background: #F20056;
  cursor: pointer;
}

.icr-extra-shift {
  border-color: #2480c2;
  color: #fff !important;
  background: #0078d9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b3ff', endColorstr='#0078d9',GradientType=0 );
}

.icr-reg-shift {
  border-color: #630030;
  color: #fff !important;
  background: #A9014B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9014B', endColorstr='#630030',GradientType=0 );
}

.icr-off-day {
  border-color: #c3c6c0;
  color: #fff !important;
  background: #353f4c;
}

.icr-leave {
  border-color: #fdfd7d;
  color: #000000 !important;
  background: #fdfd96;
}

.plo-SickLeave:not(.vis-selected) {
  background: repeating-linear-gradient( 45deg, #ffffff, #ffffff 10px, #ff7676 10px, #ff7676 20px );
  color: #000000;
  border: solid 1px #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ff0000',GradientType=0);
  cursor: pointer;
}

.plo-AnnualLeave:not(.vis-selected) {
  background: #ff00ff;
  color: #fff;
  border: solid 1px #fff;
  cursor: pointer;
}

.plo-dayoff:not(.vis-selected) {
  opacity: 0.4;
  background: #D5DDF6 !important;
  color: #1A1A1A !important;
}

.playout-off-day {
  border-color: #c3c6c0;
  color: #fff !important;
  background: #353f4c;
}

.production-other-area:not(.vis-selected) {
  font-size: 11px;
  border-radius: 4px;
  color: #333;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px #cccccc;
  display: inline-block;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
  cursor: pointer;
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eef0f1));
  background: -webkit-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -o-linear-gradient(top, white 0%, #eef0f1 100%);
  background: -ms-linear-gradient(top, white 0%, #eef0f1 100%);
  background: linear-gradient(to bottom, white 0%, #eef0f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef0f1',GradientType=0 );
}

.vis-item.vis-point.vis-selected:not(.item-clashing),
.vis-item.vis-selected:not(.item-clashing) {
  background: #FFF785 !important;
  color: #1A1A1A !important;
}

.vis-item.vis-selected:not(.item-clashing) {
  border-color: #FFC200 !important;
  z-index: 2 !important;
}

.vis-item.vis-point.vis-selected:not(.item-clashing),
.vis-item.vis-selected:not(.item-clashing) {
  background-color: #FFF785 !important;
}

vis-item.vis-point.item-clashing,
.vis-item.item-clashing {
  color: #fff;
  border: solid 1px #000;
  background: #d43f3a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9534f', endColorstr='#d43f3a',GradientType=0 );
}

.vis-item-transparent {
  opacity: 0.4;
  background: #D5DDF6 !important;
  color: #1A1A1A !important;
}

.feed-escalated:not(.vis-selected),
.different-from-owner:not(.vis-selected) {
  color: #fff;
  border: solid 1px #f20056;
  background: #f20056;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 29px 4px rgba(240,3,165,1);
  -moz-box-shadow: 0px 0px 29px 4px rgba(240,3,165,1);
  box-shadow: 0px 0px 29px 4px rgba(240,3,165,1);
}

.room-booking-tennis,
.room-booking-tennis:not(.vis-selected) {
  background: rgb(92, 185, 92) !important;
  color: rgb(255, 255, 255) !important;
}
