﻿.cssload-thecube {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

  .cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
  }

  .cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
  }

    .cssload-thecube .cssload-cube:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(43,160,199);
      animation: cssload-fold-thecube 2.76s infinite linear both;
      -o-animation: cssload-fold-thecube 2.76s infinite linear both;
      -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
      -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
      -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
      transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
    }

  .cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
  }

  .cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
  }

  .cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
  }

  .cssload-thecube .cssload-c2:before {
    animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
  }

  .cssload-thecube .cssload-c3:before {
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
  }

  .cssload-thecube .cssload-c4:before {
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
  }

#loadingAction {
  width: 100%;
  text-align: center;
}

@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -o-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -moz-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

div.resource-scheduler {
  display: block;
}

div.edit-row {
  height: 33px;
  width: 100%;
  display: block;
  border-bottom: solid 1px rgba(170, 170, 170, 0.5);
}

i#edit-scheduler,
i#refresh-scheduler,
i#chooseDates-scheduler,
i#assign-bookings,
i#manage-patterns,
i#select-resources {
  background-color: #F0F0F0;
  border: none;
  color: rgba(248, 5, 101, 1);
  margin-right: 10px;
  padding: 6px;
}

  i#edit-scheduler:hover,
  i#refresh-scheduler:hover,
  i#chooseDates-scheduler:hover,
  i#assign-bookings:hover,
  i#manage-patterns:hover,
  i#select-resources:hover {
    background-color: rgba(255, 47, 129, 1);
    color: #fff;
  }

div.resources-column {
  /*position: absolute;*/
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  float: left;
  overflow-y: scroll;
}

div.resource-group {
  display: block;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: height 0.3s cubic-bezier(0, 0, 0.3, 1);
}

div.resource-group-content {
  display: block;
  padding: 8px;
  font-weight: 900;
  font-size: 1em;
  height: 32px;
}

  div.resource-group-content:hover {
    cursor: pointer;
    background: rgba(255, 47, 129, 1);
    color: #fff;
  }

div.resource-group > i.fa-caret-square-o-down {
  float: right;
  line-height: 1.4;
}

div.resource-subgroup {
  display: block;
  margin-top: 4px;
  margin-left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.resource-subgroup-content {
  display: block;
  padding: 8px;
  font-weight: 700;
  font-size: 1em;
  height: 32px;
}

  div.resource-subgroup-content:hover {
    cursor: pointer;
    background: rgba(255, 47, 129, 1);
    color: #fff;
  }

div.resource-subgroup > i.fa-caret-square-o-down {
  float: right;
  line-height: 1.4;
}

div.scheduler-tree-child-list {
  transition: height 0.3s cubic-bezier(0,0,0.3,1);
  overflow: hidden;
}

div.resource-item {
  display: block;
  margin-top: 4px;
  margin-left: 20px;
  padding: 6px;
  font-weight: 400;
  font-size: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  div.resource-item:hover {
    cursor: pointer;
    background: rgba(135, 89, 253, 0.6);
    color: #fff;
  }

  div.resource-item > i.fa-caret-square-o-down {
    float: right;
    line-height: 1.4;
  }

div.resourcebookings-column {
  /*position: absolute;*/
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  float: left;
}

.item-in-edit-details {
  z-index: 9;
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  opacity: 0.8;
  bottom: 0;
  height: 100%;
  color: #000;
}

.item-isProcessing {
  z-index: 10;
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  opacity: 0.8;
  bottom: 0;
  height: 100%;
  color: #000;
}

.vis-labelset {
  background: #4d4d4d;
}

  .vis-labelset .vis-label {
    color: #fff;
    font-weight: 300;
    font-size: 0.91em;
  }

.vis-group {
  background: rgba(103, 100, 107, 0.8);
}

  .vis-group:hover {
    background: rgba(171, 168, 175, 0.5);
  }

.vis-left.vis-panel.vis-vertical-scroll {
  direction: ltr;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button {
  display: block;
  height: 13px;
  border-radius: 0px;
  background-color: #AAA;
}

  ::-webkit-scrollbar-button:hover {
    background-color: #AAA;
  }

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 47, 129, 1);
}

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 47, 129, 1);
  }

::-webkit-scrollbar-track {
  background-color: #efefef;
}

  ::-webkit-scrollbar-track:hover {
    background-color: #CCC;
  }

i.bookingAssigner-closeIcon:hover {
  cursor: pointer;
}
