﻿#ResourceScheduler {
  height: calc(100vh - 80px);
  background-color: #fff;
}

.cl-mcont {
  padding: 0px 20px 20px 20px;
}

.vis-item.vis-range {
  border-style: none;
  border-radius: 0px;
  border: 1px solid #f0f0f0;
}

.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top {
  border-right: 0px;
}

#ResourceScheduler .treeview label {
  font-weight: 300;
  padding: 4px 10px;
  border-bottom: 0px solid #E5E5E5;
}

#EditResourceSchedulerModal .treeview label {
  font-weight: 300;
  padding: 4px 12px;
}

  #EditResourceSchedulerModal .treeview label i {
    color: inherit;
  }

#EditResourceSchedulerModal .treeview ul li label,
#ResourceScheduler .treeview ul li label {
  padding-left: 36px;
}

#EditResourceSchedulerModal .treeview ul li ul li label,
#ResourceScheduler .treeview ul li ul li label {
  padding-left: 54px;
}

div.daterangepicker {
  -webkit-box-shadow: -4px 4px 50px -6px rgba(14,104,173,1);
  -moz-box-shadow: -4px 4px 50px -6px rgba(14,104,173,1);
  box-shadow: -4px 4px 50px -6px rgba(14,104,173,1);
}

#sizeSliderID {
  width: 150px;
  border-radius: 0px;
}

img.resource-image {
  /*border-radius: 25px;*/
}

div.view-legend {
  display: block;
}

div.hide-legend {
  display: none;
}

div#statusLegend {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: 200px;
  padding: 20px;
  box-shadow: rgba(0,0,0,0.4) 3px 3px 2px;
}

span.legendName {
  float: right;
}

ul.dropdown-menu.dropdown-context {
  border-radius: 0px;
  -webkit-box-shadow: -4px 4px 50px -6px rgba(14,104,173,1);
  -moz-box-shadow: -4px 4px 50px -6px rgba(14,104,173,1);
  box-shadow: -4px 4px 50px -6px rgba(14,104,173,1);
}

div.li-group-div,
div.li-subgroup-div {
  border-top: 1px solid #f0f0f0;
}

/* Underline From Center */
.hvr-underline-from-center {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

/* Overline From Center */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

  .hvr-overline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    top: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
    left: 0;
    right: 0;
  }

/* Shutter Out Vertical */
.hvr-shutter-out-vertical {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: white;
  }

    .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }

#EditResourceSchedulerModal .ValBorderErr {
  border-style: solid;
  border-width: 1px;
  border-color: #d22 !important;
}

#selectResources, #btnApply, #btnImport, #showResources {
  margin-right: 10px;
}

#selectResources, #btnApply, #btnImport, #showResources {
  border-radius: 18px;
}

#btnImport {
  width: 200px;
}

div.groups-container {
  background-color: #fff;
}

.vis-item-small-text {
  font-size: 0.9em;
  font-weight: 300 !important;
}

/*-moz-animation: hideResources 0s ease-in 5s forwards;
  -webkit-animation: hideResources 0s ease-in 5s forwards;
  -o-animation: hideResources 0s ease-in 5s forwards;
  animation: hideResources 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;*/

/*@keyframes hideResources {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes hideResources {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}*/

div.timeline-container {
  background-color: #fff;
}

div.groups-container.collapsed {
  width: 0px;
  left: -1000px;
}

div.groups-header {
  background-color: #f0f0f0;
  height: 30px;
}

div.groups-content {
  background-color: #fff;
  height: calc(100vh - 115px);
}

/*div.groups-panel {
  width: 200px;
}

div.resources-panel {
  width: 200px;
}*/

#groupList input {
  border: none;
  padding: 3px;
}

div.groups-header,
div.timeline-header {
  background-color: #2098d1;
  height: 40px;
}

  div.timeline-header > button,
  div.groups-header > button {
    background-color: transparent;
    height: 100%;
    font-size: 1em;
    border: none;
    color: #fff;
  }

    div.timeline-header > button > i,
    div.groups-header > button > i {
      color: #fff;
    }

li.orderable-subgroupresource > label > div.btn-group > button.btn-default {
  text-align: left;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  overflow-y: hidden;
}

div.ms-container {
  overflow-y: auto;
  height: calc(100vh - 130px);
}

.navbar-form-custom {
  margin-top: 1px;
  margin-bottom: -2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sbr-scheduler-header {
  width: 100%;
  background: none repeat scroll 0 0 #FFFFFF;
}

/*.sbr-resource-selection {
  display: table-cell;
  width: 320px;
  background: #272930;
  height: 100%;
}*/

.sbr-resource-selection .title {
  color: #fff;
}

.sbr-resource-panel {
}

.page-aside > div {
  width: 290px;
}

.page-aside.closed,
.page-aside.closed > div {
  width: 0px;
  transition: width 600ms ease, opacity 600ms;
}

.sbr-resource-selection.open {
  left: 0px;
  transition: left 600ms ease, opacity 600ms;
}

.sbr-resource-selection.closed {
  left: -300px;
  transition: left 600ms ease, opacity 600ms;
}

.sbr-select-panel {
  float: left;
}

.sbr-timeline-container.content {
  background: none repeat scroll 0 0 #FFFFFF;
}

.block-flat-small {
  margin-bottom: 15px;
  padding: 8px 8px;
  background: #FFF;
  border-radius: 3px;
  position: relative;
  -webkit-border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  transition: padding 500ms;
  -moz-transition: padding 500ms;
  -webkit-transition: padding 500ms;
}

#dateRangeInputGroup {
  width: 250px;
}

.sbr-timeline-container {
  display: table-cell;
  left: 300px;
  width: 100%;
}

a.rs-selectable-item-anchor {
  border: none;
  border-radius: 0;
}


div.vis-label {
  cursor: pointer;
}

div.sbr-subGroups .nav.nav-list.tree {
  border-left: solid 1px #23c0a2;
}

.nav.nav-list.tree > li > a.selected:hover {
  color: #fff;
}

.nav.nav-list.tree > li > a:focus {
  text-decoration: none;
  background: none;
}

.vis-timeline {
  border: none;
}

.vis-panel.vis-left {
  border: 1px #fff;
}

.vis-labelset .vis-label {
  background: #fff;
  color: #000;
  /*width: 200px;*/
  font-size: 11px;
  font-weight: 400;
}

  .vis-labelset .vis-label:hover {
    background: #2098d1;
    color: #fff;
  }

  .vis-labelset .vis-label i {
    color: #000;
  }

  .vis-labelset .vis-label:hover i {
    color: #fff;
  }

.vis-item.item-in-edit {
}

.vis-item.item-locked {
}

.modals-container {
  display: none;
}

/*ui-dialog {
  padding: 0;
}

  .ui-dialog .ui-dialog-title {
    margin: 0;
    padding: 6px;
  }

.ui-widget {
  font-family: inherit;
  font-size: 1.1em;
}

  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: inherit;
    font-size: 0.9em;
  }

.ui-widget-header {
  border: none;
}

.ui-widget-content {
  border: 1px solid #ddd;
  background: #eee;
  color: #333;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0px;
}

.ui-dialog .ui-dialog-content {
  padding: .5em .5em;
}*/
/*.ui-dialog-content div[class^="col-"],
.ui-dialog-content div[class*=" col-"] {
  padding-left: 5px;
  padding-right: 5px;
}*/
label {
  font-weight: 600;
  margin-bottom: 4px;
}

/*div.room-schedule-production .input-xs {
  height: 24px;
  font-weight: 800;
}*/

.input-group-xs > .form-control, .input-group-xs > .input-group-addon, .input-group-xs > .input-group-btn > .btn {
  border-radius: 0px;
}

.input-group-xs > .form-control, .input-group-xs > .input-group-addon, .input-group-xs > .input-group-btn > .btn {
  height: 24px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 0.9;
  border-radius: 0px;
}

div.room-schedule-production .form-group {
  margin-bottom: 0px;
}

div.room-schedule-production .input-group {
  margin-bottom: 0px;
}

/*div.production-hr-container div[class^="col-"],
div.production-hr-container div[class*=" col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

#ProductionHRTimes div[class^="col-"],
#ProductionHRTimes div[class*=" col-"] {
  padding-top: 5px;
}*/

.sbr-personnel-manager-header {
  margin-bottom: 0px;
}

.pm-date-select {
  float: left;
  width: 220px;
  margin-right: 5px;
}

  .pm-date-select > form-control {
    width: 220px;
  }

/*.form-control.pm-name-filter {
  width: 160px;
  margin-right: 5px;
}

.form-control.pm-discipline-filter {
  width: 260px;
  margin-right: 5px;
}*/

div.menu {
  display: none;
}

td:hover > div.menu {
  display: block;
  -webkit-transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
  transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 55px;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  pointer-events: none;
  opacity: 0;
}

.vis-item.vis-range .vis-item-content {
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  height: 100%;
  border-right: 2px solid rgb(255, 255, 255);
}

.vis-labelset .vis-label .vis-inner {
  font-weight: 300;
  font-size: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
}

.item-in-edit-details {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  opacity: 0.6;
  bottom: 0;
  height: 100%;
}

.item-isProcessing {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  opacity: 0.6;
  bottom: 0;
  height: 100%;
}

.item-in-edit-details > i {
  color: black;
  opacity: 1;
}

.item-in-edit-details > span {
  color: black;
  opacity: 1;
}

.slideUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


label.text-overflow {
  width: 160px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.input-group .btn-xs {
  padding-bottom: inherit;
  padding-top: inherit;
}



@-webkit-keyframes redPulse {
  from {
    background-color: #e33100;
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    background-color: #ea6153;
    -webkit-box-shadow: 0 0 18px #e33100;
  }

  to {
    background-color: #e33100;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

.room-schedule-production legend {
  margin-bottom: 10px;
}

#RoomScheduleMessages {
  top: 0px;
  position: absolute;
  right: 1px;
  width: 400px;
  display: block;
  z-index: 100;
  background-color: #F9EEED;
  border-color: #c44;
}

  #RoomScheduleMessages > ul {
    padding-left: 0;
  }

  #RoomScheduleMessages.no-errors {
    max-height: 350px;
    visibility: hidden;
  }

  #RoomScheduleMessages.has-errors {
    max-height: 150px;
    height: 100%;
    visibility: visible;
  }

    #RoomScheduleMessages.has-errors:hover {
      height: 100px;
      -moz-transition: height 1s ease;
      -webkit-transition: height 1s ease;
      -o-transition: height 1s ease;
      transition: height 1s ease;
      overflow: auto;
    }

  #RoomScheduleMessages strong, .Msg-Error strong {
    color: #c44;
    line-height: 1.2em;
  }

/*.ui-dialog.ui-widget.ui-widget-content {
  -moz-transition: height 0.1s ease;
  -webkit-transition: height 0.1s ease;
  -o-transition: height 0.1s ease;
  transition: height 0.1s ease;
}*/

.item-clashing {
  -webkit-animation-name: iconRedPulse;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
}

.crew-member-errors {
  -webkit-animation-name: iconRedPulse;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes iconRedPulse {
  from {
    -webkit-box-shadow: 0 0 9px #333;
  }

  50% {
    -webkit-box-shadow: 0 0 18px #e33100;
  }

  to {
    -webkit-box-shadow: 0 0 9px #333;
  }
}

div.crew-member-errors div[class*='col-'] {
  color: white;
}

@-webkit-keyframes fadeModal {
  from {
    opacity: 0.8;
    filter: Alpha(Opacity=80);
  }

  50% {
    opacity: 0.6;
    filter: Alpha(Opacity=60);
  }

  to {
    opacity: 0.4;
    filter: Alpha(Opacity=40);
  }
}

.ui-dialog .ui-dialog-titlebar {
  padding: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.ui-dialog .tab-content {
  background: #fff;
  padding: 20px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 0px;
}

.ui-dialog fieldset {
  background: #fff;
}

div.vis-item.vis-background.booking-call-time,
div.vis-item.vis-background.booking-wrap-time {
  background-color: #dadada;
  color: black;
  opacity: 0.5;
}

div.vis-item.vis-background.booking-duration {
  background-color: #c44;
  color: white;
  opacity: 0.5;
}

div.production-system-area-options-container {
  float: left;
  width: 100%;
  display: block;
  margin-top: 15px;
}

div.production-system-area-crew-container {
  float: left;
  width: 100%;
  display: block;
}

  div.production-system-area-crew-container div.crew-member {
    float: left;
    width: 100%;
    display: block;
  }

/*div.production-system-area-crew-container div[class*='col-'] {
    padding: 4px 1px 4px 1px;
  }*/

div.crew-member:hover {
  cursor: pointer;
}

/*div.crew-member:hover > div.table-cell:not(:first-child) {
    background-color: #23c0a2;
    color: #fff;
  }*/

div.production-hr-clashes {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

#RoomScheduleDebugContainer {
  display: none;
}

.loading-room-schedule {
  cursor: wait;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #000;
  background: rgba(221, 221, 221, 0.2);
  top: 0;
  left: 0;
}

  .loading-room-schedule i {
    position: relative;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    font-size: 40px;
  }

div.sbr-personnel-manager-footer {
  margin-bottom: 0px;
}

div.sbr-personnel-manager-container {
  margin-bottom: 0px;
}

/*.table-row.crew-member {
  padding: 4px;
}

div.padding-10-left {
  padding-left: 10px !important;
}

div.padding-5-left {
  padding-left: 5px !important;
}

div.padding-5-right {
  padding-right: 5px !important;
}

div.padding-10-right {
  padding-right: 10px !important;
}*/

/*div.production-hr-row {
  border-bottom: 1px solid #e5e5e5;
}*/

.text-overflow-hidden {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

div.sbr-table,
div.sbr-table-header,
div.sbr-table-body,
div.sbr-table-footer {
  float: left;
  width: 100%;
}

div.sbr-table-header {
  border-bottom: 1px solid #178acc;
  /*-webkit-filter: none;
  filter: none;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);*/
  /*margin-bottom: 10px;*/
  height: 28px;
}

  div.sbr-table-header div.sbr-table-header-cell {
    height: 100%;
    background-color: #2fa4e7;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.9;
  }

div.sbr-table-row {
  height: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.sbr-table-body div.sbr-table-cell {
  height: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.9;
}

#CurrentTimeTooltip {
  position: absolute;
  background-color: #337ab7;
  color: #fff;
  padding: 6px;
  font-size: 1.07em;
  font-weight: 700;
}

/*#personnelManagerBookings .vis-labelset .vis-label {
  width: 320px;
}*/

.main {
  margin-left: 0px;
  margin-right: 0px;
}

#CurrentTimeTooltip {
  display: none;
}

.main {
  margin-left: 0px;
  margin-right: 0px;
}

/*.ui-resizable-s {
  bottom: 0;
}

.ui-resizable-e {
  right: 0;
}

.modal-body {
  margin-bottom: 0;
}

.modal {
  outline: none;
}

div.apply-result-options {
  width: 100%;
  display: block;
}

div.apply-result-options-requirements {
  width: 100%;
  display: block;
}*/

div.alert-header {
  padding-bottom: 5px;
  width: 100%;
}

div.alert-message {
  padding-bottom: 5px;
  width: 100%;
}

div.apply-alert-busy {
  visibility: hidden;
}

  div.apply-alert-busy.go {
    visibility: visible;
  }

.vis-label.vis-group-no-select {
  opacity: 0.5;
}

  .vis-label.vis-group-no-select:hover {
    cursor: not-allowed;
  }

.text-cell {
  text-align: left;
}

.date-cell {
  text-align: center;
}

.time-cell {
  text-align: center;
}

label.red {
  color: #ea6153;
}

div.no-padding {
  padding: 0px;
}

div.alert {
  padding: 5px !important;
  margin-bottom: 10px !important;
}

div.table-body-row,
div.table-header-row {
  width: 100%;
  display: block;
  float: left;
}

  div.table-body-row span,
  div.table-header-row span {
    float: left;
  }

div#CurrentStudioSupervisorShiftModal div.ValidationPopup {
  max-height: 100px;
}

div.group-panel {
  padding: 8px;
  border-right: solid 1px #23c0a2;
}

div.sub-group-panel {
  padding: 8px;
}

div.sub-group-resource-panel {
  padding: 8px;
}

#wrapper {
  margin-left: 450px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 84vh;
}

  #wrapper.closed {
    margin-left: 0px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

#bookingsTimeline {
  float: right;
  width: 100%;
}

#cleared {
  clear: both;
}

#rightSelections {
  list-style-type: none;
  background: #fff;
  margin-right: 5px;
  padding-left: 2px;
}

li.selected-resource {
  padding: 3px;
}

  li.selected-resource:hover {
    color: #fff;
    background: #7761a7;
    cursor: pointer;
  }

    li.selected-resource:hover > a {
      color: #fff;
    }

li.selectable-resource.open {
}

li.selected-resource {
  text-decoration: none;
}

li.sub-group-resource,
li.sub-group-resource > a {
  color: #7761a7 !important;
}

li.scheduler-resource:hover,
li.scheduler-resource:hover > a {
  color: #fff !important;
  background: #7761a7 !important;
  cursor: pointer !important;
}

.ms-container .ms-list {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  position: relative;
  height: 100%;
  padding: 0;
  overflow-y: auto;
}

.ms-container ul {
  margin: 0;
  list-style-type: none;
  padding: 3px;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  border-bottom: solid 1px #f0f0f0;
  padding: 1px 2px;
  font-size: 0.9em;
  font-weight: 300;
}

.ms-container .ms-selectable li:hover,
.ms-container .ms-selection li:hover {
  cursor: pointer;
  color: #7761a7;
  background-color: #fff;
  border-bottom: solid 1px #fff;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled {
  background-color: #eee;
  color: #aaa;
  cursor: text;
}

.treeview label {
  font-size: 12px;
}

#editSchedulerButton {
  padding: 0px 4px;
}

li.ms-selected {
  color: #fff;
  background: #2098d1;
}

div.ui-selectable-helper {
  border: dotted 1px #fff;
}

li.ui-selected {
  color: #7761a7 !important;
  background: #fff !important;
}

#RSResourcePopoverModal {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 0 7px 1px rgba(0,0,0,.4);
  box-shadow: 0 0 7px 1px rgba(0,0,0,.4);
  display: none;
  z-index: 10000;
  border: solid 1px #f0f0f0;
  border-radius: 0px;
  width: 400px;
  height: 500px;
}

div.popovermodal-header {
  background-color: #19b698;
  border-bottom: 1px solid #008e70;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  padding: 14px;
  color: #fff;
  height: 50px;
}

div.resource-group {
  min-width: 150px;
}

div.progress {
  width: 100%;
  margin-bottom: 0px;
}

div.human-resource-name {
  width: 100%;
  position: absolute;
  display: inline-block;
}

div.resource-group div.progress {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

div.form-group > div.row {
  margin-top: 0px;
}
