﻿
/* Non Generated.  
----------------------------------------------------------
@font-face
{
  font-family: 'Open Sans' , sans-serif !important;
  src: url('font/OpenSans-Regular.ttf');
}*/

html, body
{
  font-family: 'Open Sans' , sans-serif !important;
  background-color: #ffffff;
  position: relative;
  margin: 0px;
  font-size: 0.9em !important;
  padding: 0px;
  -webkit-font-smoothing: antialiased !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: 'Open Sans' , sans-serif !important;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.PaddedContainer
{
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.main
{
  margin-left: 30px !important;
  margin-right: 30px !important;
}

select, input[type='text'], input[type='password'], input[type='checkbox'], input[type='file'], textarea
{
  /*display: block; width: 100%;*/
  font-size: 12px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; /*border-radius: 2px;   box-shadow: inset 0px 2px 4px #DCE4F0;   border: 1px solid #D0DBEC;   padding: 0.2em;   background-color: #EDF1F7;   margin: 1px;   font-size: 1em;   box-sizing: border-box;   -ms-box-sizing: border-box;   -moz-box-sizing: border-box;   -webkit-box-sizing: border-box;*/
}
/*textarea
{
  font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
}
input.focused, select.focused, textarea.focused
{
  border: 1px solid #5A7A98;
  box-shadow: inset 0px 1px 4px #DCE4F0, 0 0 2px 1px #DBE3EB;
}*/
select
{
  cursor: pointer;
}
/* Editor row (Label and Textbox container) */
/*div.row
{
  overflow: none;
  padding: 3px 0px 3px 0px;
  display: block;
  clear: both;
}*/
/* Label inside editor row */
/*div.row label
{
  float: left;
  text-align: left;
  padding-right: 10px;
  padding-top: 2px;
  width: 100px;
}*/
/* read only span inside editor row */
/*div.row span.display
{
  display: inline-block;
  text-align: left;
  padding-right: 10px;
  padding-top: 2px;
}
div.rowMulti
{
  display: inline-block;
  padding-right: 20px;
}*/
.NumericEditor
{
  text-align: right;
}
.DatePicker
{
  text-align: center;
}
.ValidationError
{
  margin-left: 0px;
  display: none;
  vertical-align: middle;
}


/*************** Grid ***************/
.Grid
{
  margin: 5px 0 10px 0;
  border-spacing: 0px;
}
.GridHL tr:hover
{
  background-color: #EDF1F7;
  cursor: pointer;
}
.Grid td
{
  padding: 2px;
  border: solid 1px #ddd;
  color: #717171;
  height: 16px;
}
.Grid th
{
  padding: 4px 2px 4px 2px;
  background-color: #3B3B3B;
}
.Grid thead
{
  padding: 4px;
  color: #fff;
  font-size: 0.9em;
  background-repeat: repeat-x;
  background-position: center;
}
.Grid caption
{
  padding: 4px;
  background: #006E9F;
  color: #fff;
}
.Grid tr
{
  background-color: #F9F9F9;
}
.Grid tr.Selected
{
  background-color: #006E9F;
}
.Grid tr.Selected td
{
  color: #fff;
}
.Grid tr.GridAltRow
{
  background: #F2F2F2;
}
.GridDeletedRow
{
  background: #fff0f0;
}
.ChildGrid
{
  margin-left: 20px;
}
.Grid input
{
  padding: 4px;
  line-height: normal;
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Grid input:hover
{
  border-color: inherit;
}
.Grid input:focus
{
  border-color: #888;
  background-color: #fff;
}
.glyphicon
{
  font-size: 12px;
}
.glyphicon-trash
{
  top: 2px !important;
}

.LoadingOverlay
{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  min-height: 10000px;
  top: 0;
  left: 0;
  z-index: 10000;
}

.LoadingOverlay .Outer
{
  margin: 30px auto auto auto;
  width: 95px;
  padding: 2px;
  border: 1px solid #8F8F8F;
  background-color: #D6D6D6;
}

.LoadingOverlay .Inner
{
  padding: 3px;
  padding-top: 2px;
  width: 100%;
  border: 1px solid #CCCCCC;
  background-color: #fff;
  color: #222;
  font-weight: 600;
  background-image: url(../Images/LoadingSmall.gif);
  background-repeat: no-repeat;
  background-position: 4px 5px;
}

.LoadingOverlay span
{
  margin-left: 22px;
  display: inline-block;
}


.DivToolbar
{
  position: relative;
  background-color: #ffffff; /*#EFF5F9;*/ /*border-bottom: 1px solid #2B6795;   padding: 10px;*/
  margin: 10px 0 10px 0;
  min-height: 50px;
  color: #142E42;
}


/* Overidden.  
----------------------------------------------------------*/
.navbar
{
  border-radius: 0px !important;
}

.badge-success
{
  background-color: #468847 !important;
}

.badge-warning
{
  background-color: #f89406 !important;
}

.badge-important
{
  background-color: #b94a48 !important;
}

.badge-info
{
  background-color: #3a87ad !important;
}

.badge-inverse
{
  background-color: #333 !important;
}

.ComboBox
{
  /*background-color: #b6b7bc;*/
}
.ComboBox.Blank
{
  color: #bbb !important;
}

.ComboDropDown
{
  position: absolute;
  max-height: 400px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: none;
  z-index: 1004;
  overflow-y: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.ComboDropDown table
{
  border-spacing: 0px;
}
.ComboDropDown tr, .ComboDropDown div div
{
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5px;
  cursor: pointer;
}
.ComboDropDown td
{
  border-left: 1px solid #ccc;
  padding: 2px 4px 2px 4px;
}
.ComboDropDown th
{
  padding: 2px;
  cursor: pointer;
  background: linear-gradient(to bottom, #666 0%, #444 100%);
  color: #fff;
  font-size: 0.9em;
}
.ComboDropDown .ComboChild
{
  padding-left: 5px;
}
.ComboDropDown .ComboGroup, .ComboDropDown .ComboGroup:hover
{
  background: linear-gradient(to bottom, #777 0%,#555 100%);
  color: #fff;
  font-weight: bold;
  cursor: default;
}
.ComboDropDown tr:hover, .ComboDropDown div div:hover
{
  text-decoration: none !important;
  color: #ffffff !important;
  background-color: #0081c2 !important;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3)) !important;
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3) !important;
  background-image: -o-linear-gradient(top, #0088cc, #0077b3) !important;
  background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0) !important;
}
.ComboDropDown .Selected
{
  text-decoration: none !important;
  color: #ffffff !important;
  background-color: #0081c2 !important;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3)) !important;
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3) !important;
  background-image: -o-linear-gradient(top, #0088cc, #0077b3) !important;
  background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0) !important;
}

top-buffer-5 {
  margin-top: 5px;
}
.top-buffer-10
{
  margin-top: 10px;
}
.top-buffer-15
{
  margin-top: 15px;
}
.top-buffer-20
{
  margin-top: 20px;
}
.bold
{
  font-weight: bold;
}

.grid-control[disabled], .grid-control[readonly]
{
  cursor: not-allowed;
  background-color: #eee;
}

.table-header-default th
{
  background-color: #5e5e5e;
  color: White;
}

/*************** table ***************/
.table
{
  border-spacing: 0px;
}
.table tr:hover
{
  background-color: #EDF1F7;
  cursor: pointer;
}
.table td
{
  padding: 2px;
  border: solid 1px #fff;
  color: #717171;
  height: 16px;
}
.table th
{
  padding: 4px 2px 4px 2px;
  background-color: #3B3B3B;
}
.table thead
{
  padding: 4px;
  color: #fff;
  font-size: 0.9em;
  background-repeat: repeat-x;
  background-position: center;
}
.table caption
{
  padding: 4px;
  background: #006E9F;
  color: #fff;
}
.table tr
{
  background-color: #fff;
}
.ChildGrid
{
  margin-left: 20px;
}
.table input
{
  padding: 4px;
  line-height: normal;
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.table input:hover
{
  border-color: inherit;
}

span.ImgIcon.ImgValidation
{
  float: right;
}

.modal-full
{
  width: 100%;
}
.modal-xl
{
  width: 90%;
}
.modal-lg
{
  width: 80%;
}
.modal-md
{
  width: 70%;
}
.modal-sm
{
  width: 50%;
}
.modal-xs
{
  width: 40%;
}
.modal-xxs
{
  width: 30%;
}
.HoverMsg
{
  position: absolute;
  z-index: 1000;
  width: 920px;
  background-color: #fff;
  padding: 0;
}
.HoverMsg div
{
  box-shadow: 0 0 10px 4px #fff;
}
div.ReportSectionColumn {
    float: left;
    display: inline-block;
}