﻿.fuelux .wizard ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  z-index: 1;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #d4d4d4;
}

  .fuelux .wizard ul li .chevron:before {
    position: absolute;
    top: -24px;
    right: 1px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #ededed;
    content: "";
  }

.fuelux .wizard .actions {
  position: absolute;
  right: 0;
  z-index: 100;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 46px;
  vertical-align: middle;
  background-color: #e5e5e5;
  border-left: 1px solid #d4d4d4;
}

.fuelux .wizard ul {
  width: 4000px;
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.fuelux .wizard {
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: 0;
  border-bottom: 1px solid #E2E2E2;
  background: #FFF;
}

.fuelux .wizard {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.block-wizard {
  margin-bottom: 40px;
  padding: 20px 20px;
  background: #FFF;
  border-radius: 3px;
  position: relative;
  -webkit-border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  transition: padding 500ms;
  -moz-transition: padding 500ms;
  -webkit-transition: padding 500ms;
}

.wizard-row {
  position: relative;
  width: 100%;
  margin: 0;
}

  .wizard-row .fuelux {
    position: absolute;
    width: 100%;
    padding: 0;
  }

.block-wizard {
  padding: 0;
}

.fuelux ul, .fuelux ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

.fuelux .wizard ul li:first-child {
  border-radius: 0;
  -webkit-border-radius: 0;
}

.fuelux .wizard ul li.active {
  background: #FFF;
  color: #816bb1;
}

.fuelux .wizard ul li:first-child {
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.fuelux .wizard ul li.active {
  color: #3a87ad;
  background: #f1f6fc;
}

.fuelux .wizard ul li {
  font-size: 15px;
}

.fuelux .wizard ul li {
  position: relative;
  float: left;
  height: 46px;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
  color: #999999;
  cursor: default;
  background: #ededed;
}

.fuelux li {
  line-height: 20px;
}

.fuelux label, .fuelux select, .fuelux button, .fuelux input[type="button"], .fuelux input[type="reset"], .fuelux input[type="submit"], .fuelux input[type="radio"], .fuelux input[type="checkbox"] {
  cursor: pointer;
}

.fuelux button, .fuelux html input[type="button"], .fuelux input[type="reset"], .fuelux input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

.fuelux button, .fuelux input {
  line-height: normal;
}

.fuelux button, .fuelux input, .fuelux select, .fuelux textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

.block-wizard .step-content {
  padding: 20px 20px;
}

.fuelux .step-content .active {
  display: block;
}

.fuelux .step-content .step-pane {
  display: none;
}

.fuelux .step-pane.active {
  display: block;
}

.ui-dialog .block-wizard {
  margin: 0 !important;
}

.fuelux .wizard ul li.active {
  background: #FFF;
  color: #0078d9;
}

.fuelux h3 {
  font-size: 24.5px;
}
.fuelux h1, .fuelux h2, .fuelux h3 {
  line-height: 40px;
}
.fuelux h1, .fuelux h2, .fuelux h3, .fuelux h4, .fuelux h5, .fuelux h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.hthin {
  font-family: "Raleway", Helvetica, sans-serif !important;
  font-weight: 100 !important;
}