﻿div#allocator {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-bottom: solid 1px rgba(158, 153, 158, 1);
}

div.view-container {
  overflow: hidden;
  position: relative;
  border-left: solid 1px rgba(158, 153, 158, 1);
  border-right: solid 1px rgba(158, 153, 158, 1);
  box-shadow: inset 0px -2px 7px 1px rgba(158, 153, 158, 1);
  width: 100%;
}

button#settings-button {
  z-index: 4;
  margin-bottom: 0px !important;
}

div.view-header {
  position: absolute;
  width: 100%;
  background: rgb(255, 255, 255);
  border-top: solid 1px #000000;
  /*border-bottom: solid 1px #000000;*/
  border-left: solid 1px #000000;
  box-shadow: 0px 2px 12px 0px;
  z-index: 2;
}

div.venue-header {
  position: absolute;
  padding: 4px;
  text-align: center;
  background: #fff;
  font-weight: 700;
  font-size: 1.1em;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
  will-change: left, top;
}

div.view-data {
  position: absolute;
  width: 100%;
  z-index: 1;
  will-change: left, top;
}

div.hour-node {
  display: block;
  vertical-align: top;
  border-bottom: solid 1px #000;
  text-align: center;
  z-index: 1001;
}

div.time-column {
  position: absolute;
  /*border-top: solid 1px #000000;
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;*/
  z-index: 3;
  will-change: left, top;
  box-shadow: 0px 2px 12px 0px;
  background: #fff;
}

div.day-name {
  font-weight: 700;
  font-size: 1.2em;
  background: rgb(74, 163, 223);
  color: #fff;
  padding: 2px;
}

div.hour-node {
  background: #fff;
}

div.day {
  position: absolute;
  width: 100%;
}

  div.day:not(:first-child) {
    border-top: solid 1px #000;
  }

div.day-header {
  padding: 4px;
  text-align: left;
  background: #fff;
  font-weight: 700;
  font-size: 1.3em;
  border-bottom: solid 1px #000000;
  line-height: 1.2;
}

div.venue-day {
  position: absolute;
  background: #F0F0F0;
  display: inline-block;
  float: left;
  border-left: solid 1px #000;
}

div.channel-column {
  position: absolute;
}

div.channel-schedule {
  transition: left linear 0.05s, top linear 0.05s;
  position: absolute;
  display: block;
  border-top: solid 1px #000;
  z-index: 1000;
}

  div.channel-schedule:hover,
  div.channel-schedule:focus {
    transform: scale(1.05);
    transition: all .25s;
    z-index: 10000;
    border: solid 1px #000;
  }

  div.channel-schedule:hover {
    color: #fff;
    background: #555454;
  }

p.schedule-short-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.booking-list {
  padding-left: 6px;
  padding-right: 6px;
  z-index: 999;
}

div.resource-booking {
  display: inline-block;
  padding: 3px;
  background: #fff;
  color: #000;
  margin-bottom: 5px;
  border: solid 1px #f0f0f0;
  cursor: pointer;
  width: 100%;
  /* margin-right: 5px; */
  height: 20px;
  font-size: 0.9em;
  line-height: 1.1;
  /* position: relative; */
  box-shadow: 1px 1px 6px 0px;
}

.short-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap-text {
  word-break: break-word;
}

div.booking-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

div.booking-list::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

div.booking-list::-webkit-scrollbar-thumb {
  background-color: #000000;
}

div.equipment-schedule {
  display: inline-block;
  padding: 3px;
  background: #fff;
  color: #000;
  margin-bottom: 5px;
  border: solid 1px #000;
  cursor: pointer;
  width: 100%;
  margin-right: 5px;
  height: 30px;
  font-size: 0.9em;
  line-height: 1.1;
  position: relative;
  box-shadow: 2px 2px 8px 0px #484848;
}

div.day-venue {
  display: inline-block;
  float: left;
  border-right: solid 1px #000;
}

div.day-venue-schedule {
  display: block;
  padding: 5px;
  border-bottom: solid 1px #000;
  -webkit-box-shadow: -1px 2px 3px -1px rgba(140,137,140,0.86);
  -moz-box-shadow: -1px 2px 3px -1px rgba(140,137,140,0.86);
  box-shadow: -1px 2px 3px -1px rgba(140,137,140,0.86);
}

  div.day-venue-schedule.live {
    background: #FB7374;
    color: #fff;
  }

  div.day-venue-schedule.delayed {
    background: #A2B964;
    color: #fff;
  }

  div.day-venue-schedule.premier {
    background: #FFFFBE;
    color: #000;
  }

div.series-row {
  display: block;
  width: 100%;
}

div.series-column {
  display: inline-block;
  float: left;
  border-right: solid 1px #000;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

  div.series-column:hover {
    cursor: pointer;
  }

div.series-header {
  display: block;
  padding: 4px;
  text-align: left;
  background: #fff;
  font-weight: 700;
  font-size: 1.2em;
  border-bottom: solid 1px #000000;
  /*border-right: solid 1px #000000;*/
  line-height: 1.2;
  /*display: inline-block;
  float: left;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

div.series-card {
  display: block;
  /*position: relative;*/
  padding: 20px;
  background: #FB7374;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  /*border-right: solid 1px #fff;*/
  width: 100%;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

  div.series-card:hover {
    background: rgb(74, 163, 223);
    transition: background 0.1s linear;
  }

#BySeriesModal a.list-group-item .list-group-item-heading {
  color: #333333;
  font-weight: 700;
  font-size: 1.3em;
}

.series-event-detail {
  font-size: 1.2em;
  font-weight: 400;
}

#BySeriesModal .label {
  user-select: none;
}

.circuits-dropdown .dropdown-menu > li > a:hover,
.circuits-dropdown .dropdown-menu > li > a:focus,
.circuits-dropdown .dropdown-submenu:hover > a,
.circuits-dropdown .dropdown-menu li > a:hover {
  background: #fff;
  color: #4aa3df;
}

.circuits-dropdown > ul.dropdown-menu {
  background: #4aa3df;
  border-radius: 0px;
  box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.28);
}

.circuits-dropdown > ul > li > a {
  color: #fff;
}

div.event-circuit-container {
}

input.eventItem-circuit {
  border: solid 1px #B9B9B9;
}

.padding-top-10 {
  padding-top: 10px;
}

a.list-group-item {
  color: #555;
  margin-bottom: 10px;
}

.form-control {
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  box-shadow: none;
  font-weight: 400;
}

.margin-5 {
  margin-bottom: 5px;
}

i.fa-red {
  color: #ff5454
}

@media all and (min-width: 0px) and (max-width: 691px) {
  .border-bottom-darkGray {
    border-bottom: solid 1px #cacaca;
    padding-bottom: 10px;
  }
}

@media all and (min-width: 692px) {
  .border-right-darkGray {
    border-right: solid 1px #cacaca;
  }
}



div.channel-schedule {
  position: absolute;
  display: block;
  border-top: solid 1px #000;
  z-index: 1000;
}

  div.channel-schedule.schedule-select-not-allowed {
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    background: #FF3333 !important;
    color: #fff !important;
    border-top: solid 1px #fff;
    opacity: 0.2;
  }

  div.channel-schedule.selected {
    background: #019dff !important;
    color: #fff !important;
    border-top: solid 1px #fff;
  }

  div.channel-schedule.channel-schedule-changed {
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
  }

  div.channel-schedule:hover,
  div.channel-schedule:focus {
    transform: scale(1.05);
    transition: all .25s;
    z-index: 10000;
    border: solid 1px #000;
  }

  div.channel-schedule:hover {
    color: #fff;
    background: #555454;
  }

div.event-info:hover {
  cursor: pointer;
  z-index: 999;
}

div.event-info {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 0.9em;
  padding-left: 6px;
  padding-right: 6px;
  z-index: 999;
}

.event-info-extra-small {
  font-size: 0.85em;
  line-height: 1.2;
}

div.room-info {
  padding-left: 6px;
  padding-right: 6px;
  z-index: 999;
}

div.room-schedule {
  display: inline-block;
  padding: 3px;
  background: #fff;
  color: #000;
  margin-bottom: 5px;
  border: solid 1px #000;
  cursor: pointer;
  width: 70px;
  margin-right: 5px;
  height: 20px;
  font-size: 0.9em;
  line-height: 1.1;
  position: relative;
}

div.channel-schedule.short-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

i.delete-room-schedule {
  color: #FF3333;
  float: right;
  line-height: 1.6;
  padding-right: 5px;
}

div.channel-schedule.live,
div.shift-schedule.live {
  background: #FB7374;
  color: #fff;
}

div.channel-schedule.delayed,
div.shift-schedule.delayed {
  background: #A2B964;
  color: #fff;
}

div.channel-schedule.premier,
div.shift-schedule.premier {
  background: #FFFFBE;
  color: #000;
}

div.channel-schedule.repeat,
div.shift-schedule.repeat {
  background: rgb(74, 163, 223);
  color: #fff;
}

div.schedule-medium {
  font-size: 0.9em;
}

span.event-status {
  width: 60px;
  padding: 4px;
  float: right;
}

span.live {
  background: #FF3333;
  color: #fff;
}

span.delayed {
  background: #92CD00;
  color: #000;
}

span.premier {
  background: #FFD800;
  color: #000;
}

h4.list-group-item-heading {
  font-weight: 700;
  color: #333;
}

div.circuits-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #5E5E5E;
  z-index: 50;
}

div.circuits-modal-content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: #fff;
  box-shadow: 1px 1px 100px 5px #aaa;
  padding: 0px;
  overflow-y: scroll;
  z-index: 51;
  transition: all 0.5s linear;
}

div.circuits-modal-heading {
  background-color: rgba(255, 47, 129, 1);
  border-bottom: solid 2px #FFFFFF;
}

div.circuits-modal-content h3 {
  color: #fff;
  margin-top: 0px;
}

ul.circuits-modal-items {
  list-style-type: none;
}

ul.select-circuit-list {
  overflow-y: auto;
  list-style-type: none;
  padding-left: 10px;
}

li.option-circuit {
  padding: 5px;
  font-weight: 400;
  font-size: 12px;
}

  li.option-circuit:hover {
    background: rgba(255, 47, 129, 1);
    color: #fff;
    cursor: pointer;
  }

div.circuits-modal-content::-webkit-scrollbar {
  width: 10px;
}

div.circuits-modal-content::-webkit-scrollbar-button {
  display: block;
  height: 5px;
  border-radius: 0px;
  background-color: #ABACB3;
}

  div.circuits-modal-content::-webkit-scrollbar-button:hover {
    background-color: #AAA;
  }

div.circuits-modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 47, 129, 1);
}

  div.circuits-modal-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 47, 129, 1);
  }

div.circuits-modal-content::-webkit-scrollbar-track {
  background-color: #efefef;
}

  div.circuits-modal-content::-webkit-scrollbar-track:hover {
    background-color: #CCC;
  }

span.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 400;
  font-size: 26px;
  color: #fff;
}

  span.close-modal:hover {
    cursor: pointer;
  }

div.sober-modal > .tri-bar-loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.day-shortcut {
  padding: 5px;
  border-bottom: solid 1px #ccc;
}

  .day-shortcut.selected {
    background-color: rgb(74, 163, 223);
    color: #fff;
  }

  .day-shortcut:not(.selected):hover {
    padding: 5px;
    background-color: rgb(74, 163, 223);
    color: #fff;
    border-bottom: solid 1px #fff;
    cursor: pointer;
  }

#ByEventModal a.list-group-item:hover,
#ByEventModal a.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background: #fff;
}

div.roomschedule-phr {
  margin-left: 15px;
}

  div.roomschedule-phr:hover {
    cursor: pointer;
  }
