<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/NewSite.Master" CodeBehind="Security.aspx.vb" Inherits="NewOBWeb.SecurityPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

  <%
    
    Using h = Helpers
       
          
      h.Control(New Singular.Web.Security.SecurityControl)
 
      
      
    End Using
    
    %>

</asp:Content>
