﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="Services2.aspx.vb" Inherits="NewOBWeb.Services2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
  <%= Singular.Web.CSSFile.RenderLibraryStyles %>
  <%= Singular.Web.Scripts.RenderLibraryScripts() %>
  <script type="text/javascript">

    function EditSchedule(schedule) {
      ViewModel.ServerProgramType(schedule)
      $("#EditSchedule").dialog();
    };

  </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

  <%
    
    Using h = Helpers
      h.Control(New Singular.Web.ServiceHelpers.ServiceSetup)
    End Using
    
  %>
</asp:Content>
