﻿#ROQuoteList tr:hover td {
  cursor: pointer;
  color: #F5F5F5;
  background-color: #36A0FF;
  font-weight: bold;
}

.fieldset-header {
  background-color: #F5F5F5;
  color: #36A0FF;
  height: 70px;
  font-size: 27px;
  padding: 10px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.ComboDropDown {
  z-index: 2500;
}

.modal-md {
  width: 70%;
}
